.logement-detail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;

  .logement-info-profile-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: normal;
      width: 90%;
    }
  }

  .description-equipments-section {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    margin-bottom: 35px;

    @media (max-width: 768px) {
      flex-direction: column; 
      gap: 20px;
    }

    .description-section, .equipments-section {
      display: flex;
      flex-direction: column;
      width: 50%; 

      @media (max-width: 768px) {
        width: 100%; 
        align-items: flex-start;
      }
    }

    .equipments-section {
      align-items: flex-end;

      .equipments-toggle {
        align-self: flex-end;
        margin-left: auto;
        background-color: #ff6060; 
        color: white; 
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        width: 90%;
        border-radius: 8px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
          align-self: flex-start;
          margin-left: 0;
        }
      }

      @media (max-width: 768px) {
        align-items: flex-start;
        width: 100%; 
      }
    }

    .toggle-button {
      background-color: #ff6060;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      width: 90%;
      border-radius: 8px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .arrow-down-icon, .arrow-up-icon {
        transition: transform 0.3s ease;
        width: 20px; 
        height: auto;
      }

      &.open .arrow-down-icon {
        transform: rotate(180deg);
      }

      &.open .arrow-up-icon {
        transform: rotate(-180deg);
      }
    }

    .description, .equipments {
      display: none;
    }

    .description.open, .equipments.open {
      display: flex;
    }
  }
}
