.gallery {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px;

  .gallery__image {
    width: 100%;
    max-height: 415px;
    object-fit: cover;

    @media (max-width: 768px) {
      max-height: 335px;
    }
  }

  .gallery__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    filter: invert(100%);
    padding: 10px;
    margin-left: 20px;

    &--right {
      right: 1rem;
    }
  }

  .gallery__counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
  }
}
