.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header__logo {
  max-width: 210px;
  height: auto;
}
.header__nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.header__nav ul li a {
  text-decoration: none;
  color: #ff6060;
  font-weight: bold;
}
.header__nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #ff6060;
}