.equipments-section {
  display: flex;
  flex-direction: column;
}

.equipments {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
.equipments.open {
  max-height: 500px;
}
.equipments h3 {
  margin-bottom: 1rem;
}
.equipments ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.equipments li {
  margin-bottom: 0.5rem;
}