.host-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #FF6060;
}
.host-profile .host-name-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.host-profile .host-name-container h3 {
  font-size: 1em;
  margin: 0;
}
.host-profile .host-picture-container {
  margin-left: 5px;
}
.host-profile .host-first-name,
.host-profile .host-last-name {
  display: block;
}
.host-profile .host-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .host-profile {
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  .host-profile .host-name-container {
    text-align: left;
  }
  .host-profile .host-picture-container {
    margin-left: 0;
    margin-bottom: 10px;
  }
}