.logement-detail-content .description-equipments-section .toggle-button, .logement-detail-content .description-equipments-section .equipments-section .equipments-toggle {
  background-color: #ff6060;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  width: 90%;
  border-radius: 8px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
}
.logement-detail-content .description-equipments-section .toggle-button .arrow-down-icon, .logement-detail-content .description-equipments-section .equipments-section .equipments-toggle .arrow-down-icon,
.logement-detail-content .description-equipments-section .toggle-button .arrow-up-icon,
.logement-detail-content .description-equipments-section .equipments-section .equipments-toggle .arrow-up-icon {
  transition: transform 0.3s ease;
  width: 25px;
  height: auto;
}
.logement-detail-content .description-equipments-section .open.toggle-button .arrow-down-icon, .logement-detail-content .description-equipments-section .equipments-section .open.equipments-toggle .arrow-down-icon {
  transform: rotate(180deg);
}

.logement-detail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.logement-detail-content .logement-info-profile-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .logement-detail-content .logement-info-profile-rating {
    flex-direction: column;
    align-items: normal;
    width: 98%;
  }
}
.logement-detail-content .description-equipments-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .logement-detail-content .description-equipments-section {
    flex-direction: column;
    gap: 20px;
  }
}
.logement-detail-content .description-equipments-section .description-section,
.logement-detail-content .description-equipments-section .equipments-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 768px) {
  .logement-detail-content .description-equipments-section .description-section,
  .logement-detail-content .description-equipments-section .equipments-section {
    width: 100%;
    align-items: flex-start;
  }
}
.logement-detail-content .description-equipments-section .equipments-section {
  align-items: flex-end;
}
.logement-detail-content .description-equipments-section .equipments-section .equipments-toggle {
  align-self: flex-end;
  margin-left: auto;
}
@media (max-width: 768px) {
  .logement-detail-content .description-equipments-section .equipments-section .equipments-toggle {
    align-self: flex-start;
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .logement-detail-content .description-equipments-section .equipments-section {
    align-items: flex-start;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .logement-detail-content .description-equipments-section .toggle-button {
    width: 100%;
  }
}
.logement-detail-content .description-equipments-section .description,
.logement-detail-content .description-equipments-section .equipments {
  display: none;
}
.logement-detail-content .description-equipments-section .description.open,
.logement-detail-content .description-equipments-section .equipments.open {
  display: flex;
}