.logement-carte {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: box-shadow 0.3s ease;
}
.logement-carte:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.logement-carte .logement-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
}
.logement-carte .logement-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  color: white;
  z-index: 2;
}
.logement-carte .logement-title {
  font-size: 1em;
  margin: 0;
}
.logement-carte::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 1, 1, 0.8) 100%);
  pointer-events: none;
  z-index: 1;
}