//LogementListe.scss
.logement-liste {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  padding: 16px;
  width: 88%;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  .logement-carte {
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}
