.gallery {
  position: relative;
  max-height: 643px;
  border-radius: 15px;
  overflow: hidden;
}
.gallery img {
  height: 643px;
  object-fit: cover;
}
.gallery .gallery__counter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}
.gallery img[src$="arrow_left.svg"],
.gallery img[src$="arrow_right.svg"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.gallery img[src$="arrow_left.svg"] {
  left: 1rem;
}
.gallery img[src$="arrow_right.svg"] {
  right: 1rem;
}